*
{
	margin:0;
	padding:0;
}

html,body{
	height:100%;
}

#mlcard{
	width:180px ;
	height:250px ;
}
#mlcard1{
  width:220px ;
  height:350px ;
}

.zoom {

  transition: transform .2s; /* Animation */

}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#fofo{
	font-family: Oswald;
}


#cov{
  background:url("../images/moba2.jpg")center center no-repeat;
  background-size: cover;
  color: ;
  /*height: 100vh;*/
  text-align: center;
  display: flex;
  /*align-items: center;*/

   border-bottom: 25px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/fire.jpg) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../images/fire.jpg) 30 round; /* Opera 11-12.1 */
  border-image: url(../images/fire.jpg) 30 round;
}

#home{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/ruby1.jpg")center center no-repeat;
	background-size: cover;
	color: ;
	/*height: 100vh;*/
	text-align: center;
	display: flex;
	/*align-items: center;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

	 border-bottom: 25px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/fire.jpg) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../images/fire.jpg) 30 round; /* Opera 11-12.1 */
  border-image: url(../images/fire.jpg) 30 round;
}
#tournament{
	background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ),url("../images/fot.png")center center no-repeat;
	background-size: cover;
	color: ;
	/*height: 100vh;*/
	text-align: center;
	display: flex;
	align-items: center;

	 border-bottom: 25px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/fire.jpg) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../images/fire.jpg) 30 round; /* Opera 11-12.1 */
  border-image: url(../images/fire.jpg) 30 round;
}
#gallery{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/karrie.jpg")center center no-repeat;
	background-size: cover;
	color: ;
	/*height: 100vh;*/
	text-align: center;
	display: flex;
	align-items: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

	 border-bottom: 25px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/fire.jpg) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../images/fire.jpg) 30 round; /* Opera 11-12.1 */
  border-image: url(../images/fire.jpg) 30 round;
}


#about
{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/mobah.png') center center no-repeat;
	background-size: cover;
	text-align: center;
	display: flex;
  background-color: rgba(0, 0, 0, 0.5);


 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 /*   margin-bottom: -20px;*/

     border-bottom: 25px solid transparent;
/*  padding: 15px;*/
  -webkit-border-image: url(../images/border.jpg) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../images/border.jpg) 30 round; /* Opera 11-12.1 */
  border-image: url(../images/border.jpg) 30 round;
	
	/*align-items: center;*/
	 border-bottom: 25px solid transparent;
  padding: 15px;
  -webkit-border-image: url(../images/fire.jpg) 30 round; /* Safari 3.1-5 */
  -o-border-image: url(../images/fire.jpg) 30 round; /* Opera 11-12.1 */
  border-image: url(../images/fire.jpg) 30 round;

}

#bung
{
	
	font-family:"Bungee";
	color:white;
}

#bung1
{
  
  font-family:"Bungee";
  color:black;
}
#osw{
	font-family:"Oswald";
	color:white;
  font-size: 20px;
}
#osw1{
  font-family:"Oswald";
  font-size: 20px;
  color: black;
}

#osw2{
  font-family:"Oswald";
  font-size: 25px;
  color: black;
}
#textfire{
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  font-family: osw;
  }
  .textfire{
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  font-family: osw;
  }

#rate{
  font-family: "Bungee";
  color: black;
}
#comm{
  color:black;
  font-family: osw;
}

}
/*layout card*/
#cover-caption{
	width: 100%;
}

img{
	max-width: 100%;
}

.section-content{
	padding: 5rem 0;
}


/*layout card*/

/*About*/


.about-text
{
	background: rgba(0,0,0,0.6);
	color:yellow;
	font-family: osw;
}

#footer-main{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../images/fot.png")center center no-repeat;

  color: ;

  /*height: 100vh;*/
background-size: cover;

 

  text-align: center;
  display: flex;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
	list-style: none;
}
#news{

}
#what-we-do{
	
}

@media(max-width: 500px)
{
	#cover-caption h1
	{
		font-family: italic;
	}
}
#logo{
  height:45px ;
  width:70px ;
}

/*gif*/
/*.gip{
  height:350px ;
  width:220px ;
}*/

.sizer{
height:350px ;
  width:220px ;
}

.transbox {
  margin: 5px;
  background-color: #ffffff;
  border: ridge 8px #5D6D7E;
  opacity: 0.9;
  padding: 10px;
  filter: alpha(opacity=60); 
  border-radius: 25px;
  
}


.card 
{ 
  background-color: rgba(245, 245, 245, 0.4); 
}
.card-header, .card-footer 
{ 
  opacity: 1
}